<div class="cartoonContainer">
    <img src="assets/image/cartoon.svg" class="cartoon" alt="cartoon">
</div>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="hidden-md-up js-menu-show flex center pt-1 pl-1">
                <i class="fa fa-bars white" aria-hidden="true"></i>
            </div>
            <div class="col-xs-12 col-sm-10 offset-sm-1">
                <div class="quoteContainer">
                    <h1 class="quote">Think big,</h1>
                    <h1 class="quote">Work hard,</h1>
                    <h1 class="quote pl-3">then Party .......?</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="work">
    <div class="container">
        <div class="row">
            {{> work}}
        </div>
    </div>
</section>
<section id="workingOn">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 offset-sm-1">
                {{> workingOn}}
            </div>
        </div>
    </div>
</section>
<section id="aim">
    <div class="container">
        <div class="row">
            {{> aim}}
        </div>
    </div>
</section>
<section id="contact" class="flex center middle h-100">
    <p>satyam0507@gmail.com</p>
</section>
{{!--
<section id="attribute">
    <a href="http://www.freepik.com">Selected by freepik</a>
</section>--}}