<div class="aimContainer">
    <div class="col-xs-12 col-sm-5">
        <div class="card-block">
            <p class="card-text">Fugiat aliquip ex ea amet. Ex mollit veniam dolor pariatur magna est. Dolore amet nisi irure mollit nulla.Ex
                non ut non ipsum adipisicing quis eiusmod nostrud consectetur dolore. Enim aliqua enim laborum dolore esse
                duis culpa. Ea ullamco cupidatat enim sit aliqua velit ut officia. Ut culpa anim dolor nisi quis sunt laborum
                anim commodo aliquip sint ad.Et ullamco ex eiusmod minim est. Minim eu dolor pariatur non et ipsum et. Est
                quis pariatur nostrud non Lorem sunt excepteur culpa ex officia minim adipisicing do. Excepteur ea mollit
                est ut consectetur in deserunt.</p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-7">
        <div class="col-xs-12 col-sm-10 offset-sm-1 pt-2">
            <a href="">
                <div class="card item raised flex center">
                    <p class="card-text">Addy Osmani</p>
                </div>
            </a>
            <a href="">
                <div class="card item raised flex center">
                     <p class="card-text">Paul Lewis</p>
                </div>
            </a>
            <a href="">
                <div class="card item raised flex center">
                     <p class="card-text">Surma</p>
                </div>
            </a>
            <a href="">
                <div class="card item raised flex center">
                     <p class="card-text">Rob Dodson</p>
                </div>
            </a>
            <a href="">
                <div class="card item raised flex center">
                     <p class="card-text">Jake Archibald</p>
                </div>
            </a>
        </div>
    </div>
</div>