   <div class="workContainer">
                <div class="col-xs-12 col-sm-7">
                    <div class="col-xs-12 col-sm-6">
                        <a href="#">
                            <div class="card work raised">
                                <div class="work1  h-100"></div>
                                <div class="workOverlay">
                                    <div class="card-block">
                                        <h3 class="card-title">Build in poymer</h3>
                                        <p class="card-text">Non magna mollit ex non aute aliqua ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="#">
                            <div class="card work raised">
                                <div class="work2 h-100"></div>
                                <div class="workOverlay">
                                    <div class="card-block">
                                        <h3 class="card-title">Build in poymer</h3>
                                        <p class="card-text">Non magna mollit ex non aute aliqua ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="#">
                            <div class="card work raised">
                                <div class="work3 h-100"></div>
                                <div class="workOverlay">
                                    <div class="card-block">
                                        <h3 class="card-title">Build in poymer</h3>
                                        <p class="card-text">Non magna mollit ex non aute aliqua ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="#">
                            <div class="card work  raised">
                                <div class="work4 h-100"></div>
                                <div class="workOverlay">
                                    <div class="card-block">
                                        <h3 class="card-title">Build in poymer</h3>
                                        <p class="card-text">Non magna mollit ex non aute aliqua ipsum.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 pt-3">
                    <p>Ex cillum id id est est proident incididunt nisi ex velit incididunt. Pariatur ea eiusmod consequat amet
                        mollit cillum dolor dolor aliquip. Labore enim proident sint ea ea commodo deserunt voluptate magna
                        et consequat consequat pariatur. Voluptate aute culpa ullamco adipisicing quis tempor Lorem occaecat
                        sint laborum. Reprehenderit esse do aliqua esse eu commodo occaecat tempor nulla esse. Dolore nostrud
                        nostrud minim labore id qui nostrud laborum deserunt non voluptate commodo adipisicing. Tempor labore
                        aliqua nisi ut aute quis in pariatur.Do incididunt do ad dolore adipisicing. Aliqua proident id occaecat
                        occaecat et anim officia consectetur. Aute enim consectetur est duis qui officia. Occaecat magna
                        ex commodo sit minim.</p>
                </div>
            </div>