<div class="heading text-xs-center pt-3">
    <h2>Love To Work On</h2>
</div>
<div class="workingOnContainer">
    <div class="col-xs-12 col-sm-4">
        <div class="card tech raised">
            <img src="assets/image/html.png" class="img-fluid" alt="html">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card tech raised">
            <img src="assets/image/css.png" class="img-fluid" alt="html">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card tech raised">
            <img src="assets/image/js.png" class="img-fluid" alt="html">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card tech raised">
            <img src="assets/image/polymer.jpg" class="img-fluid" alt="html">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card tech raised">
             <img src="assets/image/angular.png" class="img-fluid" alt="html">
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="card tech raised">
             <img src="assets/image/firebase.png" class="img-fluid" alt="html">
        </div>
    </div>
    <div class="col-xs-12 text-xs-right pt-2">
        <a href="#" class="btn btnBlue raised ">On Github</a>
    </div>
    
</div>