<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio:: Satyam</title>
    {{> meta/tags}}
    <link rel="stylesheet" href="compiled/css/main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            {{> header/header}}
            <div class="main-container open">
                {{{body}}}
            </div>

        </div>
    </div>
    {{> cdn/scripts}}
    <script src= "compiled/js/detabinator.js"></script>
    <script src="compiled/js/main.js"></script>

</body>

</html>