<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your Title</title>
    {{> meta/tags}}
    <link rel="stylesheet" href="compiled/css/main.css">
</head>

<body>
    {{> header/header}}
    {{{body}}} 

    {{> cdn/scripts}}
    <script src="compiled/js/main.js"></script>
</body>

</html>